@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {  /* background */
    margin: 0px;
    padding: 30px;
    overflow: hidden;
    background: #2794d3;
}

canvas {   /* canvas itself */
    box-shadow: -3px 2px 9px 6px rgb(5, 5, 5);
    cursor: pointer; 
    border-radius: 10px;
}

.tools {     /* order of all the buttons */
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;

}

.tools .color-field {    /* rgb color buttons */
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px;
}

.tools .button {           /* undo and clear buttons*/
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: #2794d3;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 10px;
}

.color-picker {
    align-self: center;
    margin: 0 10px;
    height: 50px;
}

.pen-range {
    align-self: center;
    margin: 0 10px;
}

.pen-trans {
    align-self: center;
}

.tools .options { /* Affects the shapes column*/
    align-self: center;
    cursor: pointer;
    list-style: none;
}

.tools .options .option {
    cursor: pointer;
}